# Bonus: Temperature Analysis I

In [18]:
import pandas as pd
from datetime import datetime as dt

In [19]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [20]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])

In [24]:
# Set the date column as the DataFrame index
date_df = df.set_index('date', inplace=False)

In [43]:
# Drop the date column
date_df.drop('date', axis=1, errors='ignore')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [44]:
from scipy import stats

In [51]:
# Filter data for desired months
june_data = df.loc[(df["date"].dt.strftime('%m') == "06"), ['station', 'tobs']] 
print(june_data.head())

dec_data = df.loc[(df["date"].dt.strftime('%m') == "12"), ['station', 'tobs']] 
print(dec_data.head())

         station  tobs
133  USC00519397    78
134  USC00519397    76
135  USC00519397    78
136  USC00519397    76
137  USC00519397    77
         station  tobs
305  USC00519397    76
306  USC00519397    74
307  USC00519397    74
308  USC00519397    64
309  USC00519397    64

In [52]:
# Identify the average temperature for June
s_june_avg = june_data.groupby('station').mean()
# s_june_avg
june_avg = june_data['tobs'].mean()
print(f"June Average temp {june_avg}")

June Average temp 74.94411764705882

In [53]:
# Identify the average temperature for December
s_dec_avg = dec_data.groupby('station').mean()
# s_dec_avg
dec_avg = dec_data['tobs'].mean()
dec_avg
print(f"December Average temp {dec_avg}")

December Average temp 71.04152933421226

In [48]:
# Create collections of temperature data
june_temps = june_data['tobs'] 
dec_temps = dec_data['tobs']

In [49]:
# Run paired t-test
stats.ttest_ind(june_temps,dec_temps)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis