# Bonus: Temperature Analysis I

In [15]:
import pandas as pd
from datetime import datetime as dt

In [16]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [17]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])

In [18]:
# Set the date column as the DataFrame index
df = df.set_index('date')

In [19]:
# Drop the date column
df = df.drop(columns='date', errors='ignore')

### Compare June and December data across all years

In [20]:
from scipy import stats

In [21]:
# Filter data for desired months
june_data = df[df.index.month == 6]
june_data.head()

dec_data = df[df.index.month == 12]
dec_data.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [22]:
# Identify the average temperature for June
june_avg = june_data['tobs'].mean()
print(f"June Average temp {june_avg}")

June Average temp 74.94411764705882

In [23]:
# Identify the average temperature for December
dec_avg = dec_data['tobs'].mean()
dec_avg
print(f"December Average temp {dec_avg}")

December Average temp 71.04152933421226

In [24]:
# Create collections of temperature data
june_temps = june_data['tobs'] 
dec_temps = dec_data['tobs']

In [25]:
# Run paired t-test
stats.ttest_ind(june_temps,dec_temps, equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

```
Results: t = 31.355 p-value = 4.19e-187
```
With p-value at 4.19e-187 (p-value < 0.05) indicate the temperature difference between June and December has a statistically significant difference.