# Bonus: Temperature Analysis I

In [9]:
import pandas as pd
from datetime import datetime as dt

In [10]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [11]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])

In [12]:
# Set the date column as the DataFrame index
# date_df = df.set_index('date', inplace=True)

In [13]:
# Drop the date column
# df.drop('date', axis=1, inplace=True)

### Compare June and December data across all years

In [14]:
from scipy import stats

In [15]:
# Filter data for desired months
june_data = df.loc[(df["date"].dt.strftime('%m') == "06"), :] 
print(june_data.head())

dec_data = df.loc[(df["date"].dt.strftime('%m') == "12"), :] 
print(dec_data.head())

         station       date  prcp  tobs
133  USC00519397 2010-06-01  0.00    78
134  USC00519397 2010-06-02  0.01    76
135  USC00519397 2010-06-03  0.00    78
136  USC00519397 2010-06-04  0.00    76
137  USC00519397 2010-06-05  0.00    77
         station       date  prcp  tobs
305  USC00519397 2010-12-01  0.04    76
306  USC00519397 2010-12-03  0.00    74
307  USC00519397 2010-12-04  0.00    74
308  USC00519397 2010-12-06  0.00    64
309  USC00519397 2010-12-07  0.00    64

In [16]:
# Identify the average temperature for June
s_june_avg = june_data[['station', 'tobs']].groupby('station').mean()
# s_june_avg
june_avg = june_data['tobs'].mean()
june_avg

74.94411764705882

In [17]:
# Identify the average temperature for December
s_dec_avg = dec_data[['station', 'tobs']].groupby('station').mean()
# s_dec_avg
dec_avg = dec_data['tobs'].mean()
dec_avg

71.04152933421226

In [18]:
# Create collections of temperature data
june_temps = june_data['tobs'] 
dec_temps = dec_data['tobs']

In [19]:
# Run paired t-test
stats.ttest_ind(june_temps,dec_temps)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis